[Unit]
Description=DiscGo Server
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
Environment=TOKEN=MzYxNDM3MzQzMzgwNDA2Mjcz.XKicng.sFQrg00e50mi0tNC2m-tqKFnT00
ExecStart=/root/discgo/DiscGo
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
RestartSec=1

 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-example
#User=<alternate user>
#Group=<alternate group>

[Install]
WantedBy=multi-user.target
